<body>
    <div class="main-div">
        <mat-card class="mat-card-container">
            <div class="forgot-password-container flex-col">
                <mat-toolbar-header>
                    <mat-card-title>Password Recovery</mat-card-title>
                </mat-toolbar-header>
                <mat-form-field>
                    <input matInput placeholder="Email" type="text" [formControl]="emailForm"/>
                    <mat-error *ngIf="emailForm.errors?.required">Email is required</mat-error>
                    <mat-error *ngIf="emailForm.errors?.pattern">Email is invalid</mat-error>
                </mat-form-field>
                <mat-card-action class="action-buttons">
                    <button mat-raised-button color="primary" (click)="cancel()">
                        Cancel
                    </button>
                    <button mat-raised-button color="primary" [disabled]="emailForm.invalid" (click)="reset()">
                        Reset
                    </button>
                </mat-card-action>
            </div>
        </mat-card>
    </div>
</body>
        