<h1> User Settings </h1>
<div>
    <div class = "main div">
        <!-- <p>Name: <var>name</var> </p> -->
        <p>Email: {{email}} </p>
    </div>
    <div>
        <!-- <button mat-raised-button color="primary" (click)="onEdit()">
            Edit Information
        </button> -->
        <button mat-raised-button color="primary" (click)="onChangePassword()">
            Change Password
        </button>
    </div>
    <div>
        <button mat-raised-button color="primary" (click)="onReturn()">
            Return
        </button>
    </div>
</div>