<body>
<div class ="isolated">
<h1 class="bigText">{{scenarioTitle}}</h1>
</div>
<p class="veryIsolated">{{scenarioDescription}}</p>
<div class = "isolatedBlueBox">
<div class = "isolatedWhite" *ngFor="let role of formRoles.controls">
    <button mat-raised-button color="primary" [ngClass]="role.value.is_completed ? 'grayClass' : 'whiteClass'" (click)="chooseRole(role.value)">
            {{role.get('name').value}}
    </button>
        
</div>
</div>
<div class = "settings">
    <button class="settingsButton" mat-icon-button (click)="goToSettings()">
    <mat-icon> settings </mat-icon>
    </button>
</div>
</body>
