* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }

.isolatedBlueBox {margin: 20px; text-align: center; border: 3px solid black; border-radius: 5px; padding: 10px; background-color: skyblue}

.isolatedWhite {margin: 10px; text-align: center; background-color: white; display:inline-block}

.veryIsolated{margin: 30px;}

.isolated{margin: 10px; text-align: center;}

.bigText{font-size: 60px}

body{background-color: azure}

.mat-icon {
    font-size: 50px;
  }

.settingsButton {
    position: absolute;
    top: 5px;
    right: 20px;
}