<mat-grid-list cols="3" rowHeight="200px">
  <mat-grid-tile colspan="1" rowspan="1" [style.backgroundColor]="'lightblue'">
    <app-scenario-scene-context [scene]="currentScene"></app-scenario-scene-context>
  </mat-grid-tile>
  <mat-grid-tile colSpan="1" rowSpan="1" [style.backgroundColor]="'lightgreen'">
    <app-scene-answer-choice-list [answerChoices]="currentScene.answerChoices" (answered)="updateScene($event)"></app-scene-answer-choice-list>
  </mat-grid-tile> 
</mat-grid-list>

<button (click)="testService()">login</button>
<button (click)="testService2()">test service</button>

<mat-form-field class="example-full-width">
  <input matInput placeholder="username" [(ngModel)]="user">
</mat-form-field>

<mat-form-field class="example-full-width">
  <input matInput placeholder="password" [(ngModel)]="pass">
</mat-form-field>

