<p>Scenarios</p>
<div class="scenarioContainer">
  <div>
    <mat-form-field>
      <input matInput placeholder="Search Scenario">
    </mat-form-field>
    <button mat-button (click)="addScenario()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div>
    <div *ngFor="let scenario of formScenarios.controls" class="list">
      <div class="fixedSize">
        <button mat-raised-button [formGroup]="scenario" (click)="editScenario(scenario.value)">
          {{scenario.get('title').value}}
        </button>
      </div>
    </div>
  </div>
</div>
