<body>
<div class="main-div">
<mat-card class="mat-card-container">
    <div class="login-container">
        <mat-toolbar-header>
            <mat-card-title>Login</mat-card-title>
        </mat-toolbar-header>
        <mat-card-content [formGroup]="loginForm" class="flex-col">
            <mat-form-field>
                <input matInput placeholder="Email" type="text" formControlName="email">
                <mat-error *ngIf="loginForm.controls.email.errors?.required">Email is required</mat-error>
                <mat-error *ngIf="loginForm.controls.email.errors?.pattern">Email is invalid</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Password" type="password" formControlName="password"/>
                <mat-error>Password is required</mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-action class="action-buttons">
            <button mat-raised-button color="primary" [disabled]="loginForm.invalid" (click)="login()">
                Login
            </button>
        </mat-card-action>
        <div class="forgot-password-container">
            <a routerLink="/login/forgotpassword">Forgot password?</a>
        </div>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="register-container">
        <mat-toolbar-header>
            <mat-card-title>Register</mat-card-title>
        </mat-toolbar-header>
        <mat-card-content [formGroup]="registerForm" class="flex-col">
            <mat-form-field>
                <input matInput placeholder="Name" type="text" formControlName="name"/>
                <mat-error>Name is required</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Email" type="text" formControlName="email"/>
                <mat-error *ngIf="registerForm.controls.email.errors?.required">Email is required</mat-error>
                <mat-error *ngIf="registerForm.controls.email.errors?.pattern">Email is invalid</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input [errorStateMatcher]="emailErrorMatcher" matInput placeholder="Confirm Email" type="text" formControlName="confirm_email"/>
                <mat-error *ngIf = "registerForm.errors?.emailsDoNotMatch">
                    Emails do not match
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Password" type="password" formControlName="password"/>
                <mat-error *ngIf="registerForm.controls.password.errors?.required">Password is required</mat-error>
                <mat-error *ngIf="registerForm.controls.password.errors?.minlength">Minimum length required is 8 characters</mat-error>
            </mat-form-field>
            <mat-form-field>
                <input [errorStateMatcher]="passwordErrorMatcher" matInput placeholder="Confirm Password" type="password" formControlName="confirm_password"/>
                <mat-error *ngIf = "registerForm.errors?.passwordsDoNotMatch">
                    Passwords do not match
                </mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-action class="action-buttons">
            <button mat-raised-button color="primary" [disabled]="registerForm.invalid" (click)="register()">
                Register
            </button>
        </mat-card-action>
    </div>
</mat-card>
</div>
</body>
