.main-div {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: azure
}

.mat-card-container {
    display: flex;
}

mat-divider {
    margin: 30px;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.action-buttons {
    button {
        margin: 10px;
        float: right;
    }
}

.forgot-password-container {
    position: absolute;
    bottom: 35px;
}

.mat-form-field {
    margin: 5px;
}