.main-div {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color:  #d3d3d3
}

.mat-card-container {
    display: flex;
}

mat-divider {
    margin: 30px;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.action-buttons {
    button {
        margin: 10px;
        float: left;
    }
}


.forgot-password-container {
     button{
       margin-top:5px;
       margin-left:10px;
       float:left;
     }
     a{
       text-decoration: none;
       color: white;
     }
    position: absolute;
    bottom: 175px;
}

.mat-form-field {
    margin: 5px;
}
