<body>
<div class = "spacious">
<h1 style= "font-size: 60px">Cultural Humility Explanation</h1>
</div>
<mat-vertical-stepper class = "fabulous">
    <mat-step label="Explanation">
      {{ currentScene.description }}
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Continue">
      Continue Training
      <div>
          <div *ngIf="success; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock><button mat-button matStepperNext>Try different role</button></ng-template>
          <ng-template #elseBlock><button mat-button matStepperNext (click)="tryAgain()">Try again</button></ng-template>
      </div>
    </mat-step>
  </mat-vertical-stepper>
    </body>