<body>
<div class="title-container">
  <h1>Cultural Humility Explanation</h1>
</div>
<mat-horizontal-stepper class="centeredBlueBox">
    <mat-step label="Explanation">
      <div><p>{{ currentScene?.description }}</p></div>
      <div>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Achievements">
      <div><p>Woo, you earned random award!!</p></div>
      <div class="button-container">
        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Continue">
      <div>
        <p>Continue Training</p>
      </div>
      <div class="button-container">
          <button mat-raised-button color="primary" matStepperPrevious>Back</button>
          <div *ngIf="success; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock><button color="primary" mat-raised-button matStepperNext (click)="goToRoles()">Try different role</button></ng-template>
          <ng-template #elseBlock><button color="primary" mat-raised-button matStepperNext (click)="tryAgain()">Try again</button></ng-template>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
    </body>
