.centeredBlueBox {
  margin: auto;
  border: 3px solid black;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  width: 50%
}

.title-container {
  text-align: center;

  h1 {
    font-size: 60px;
  }
}

button {
  width: 100%;
  margin: 10px;
}

.button-container {
  display: flex;
}

::ng-deep .mat-horizontal-stepper-header{
    pointer-events: none !important;
}

body {
  background-color:#f3f3f3;
  height: 100%;
  width: 100%;
  position: absolute;
}
