.main-div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    background-color: azure
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.action-buttons {
    display: flex;
    justify-content: center;
}